.env
*.db
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
.pytest_cache/
.ruff_cache/
.mypy_cache/
.hypothesis/
*.coverage
.coverage.*
.venv/
venv/
env/
.streamlit/
.spotify_cache
.cache
/pipeline/__pycache__
.DS_Store
/pipeline/__pycache__
/docs
/backend/scripts
